version: '3'

services:
  db:
    restart: always
    image: postgres:latest
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/
    environment:
      - POSTGRES_PASSWORD=postgrespass
      - POSTGRES_USER=postgres
      - POSTGRES_DB=less_1_db
      - POSTGRES_HOST_AUTH_METHOD=trust
#    env_file: .env

  web:
    restart: always
{% if branch == "master" %}
    image: {{ registry }}:app_prod_{{ commit }}
{% elif branch == "Dev" %}
    image: {{ registry }}:app_dev_{{ commit }}
{% endif %}
    expose:
      - "8000"
    links:
      - db:db
    volumes:
      - web-django:/usr/src/
      - web-static:/usr/src/static/
    environment:
      - DEBUG=true
#    env_file: .env
    command: /usr/local/bin/gunicorn Blog.wsgi:application -w 2 -b :8000
    depends_on:
      - db
  nginx:
    restart: always
{% if branch == "master" %}
    image: {{ registry }}:nginx_prod_{{ commit }}
{% elif branch == "Dev" %}
    image: {{ registry }}:nginx_dev_{{ commit }}
{% endif %}
    ports:
{% if branch == "master" %}
      - "8000:8000"
{% elif branch == "Dev" %}
      - "8001:8000"
{% endif %}
    volumes:
      - web-static:/static
    links:
      - web:web

volumes:
  web-django:
  web-static:
  pgdata:

